[flake8]
max-line-length = 99
exclude=tests
# d1**: temporary ignore missing docs
# W503: 'line break before binary operator' rule is incompatible with black
ignore=D100,D101,D102,D103,D104,D105,D107,W503
